<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/everythingbagel-lists.css"  rel="stylesheet" type="text/css">

    <title>{{ page.title }} - {{site.title}}</title>

    <!--renders latex-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <!--The following is used to allow the math to render properly with wordwrap and all that.-->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            CommonHTML: { linebreaks: { automatic: true } },
            "HTML-CSS": { linebreaks: { automatic: true } },
            SVG: { linebreaks: { automatic: true } },
            TeX: {extensions: ["enclose.js"]},
            tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
            }
        });
    </script>

    <!--SEO gubbins-->
    <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
    <meta name="author" content="Robert Winslow">
    <link rel="canonical" href='{{page.url | replace: "index.html", "" | absolute_url}}'>
    
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:title" content="{{ page.title }} - {{site.title}}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">

</head>
<body>


<main>
    <h1>{{page.title}}</h1>
    {{ content }}
</main>


<!--Add clickable links to each header element.-->    
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
</body>
</html>
